body{
    /*background-image: url('../media/bodyentrada.jpg');
    background-size: cover;*/
    background-color: gray;
    background-position: center; 
    background-repeat: no-repeat;
}

header{
    background-color: rgb(255, 255, 255); /* Fondo blanco */
    text-align: center; /* Centra el contenido */
    padding: 20px; /* Añade relleno interno */
    max-width: 1200px; /* Limita el ancho máximo */
    margin: 20px auto; /* Centra el header en la pantalla y agrega un margen superior e inferior */
    border-radius: 15px; /* Bordes redondeados */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Sombra sutil */
}
header h1{
    color: #007bff;
    font-weight: bold;
}
header p{
    color: black;
    font-weight: bold;
}
nav {

    background-image: url('../media/naventrada.jpg');
    background-size: cover;
    /*background-color: #f0f0f0; /* Fondo gris claro para el nav */
    padding: 20px;
    text-align: center; /* Centra el texto en el nav */
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Sombra sutil */
}

nav h2 {
    font-size: 24px;
    color: #3103ff;
    margin-bottom: 15px;
}

nav ul {
    list-style-type: none; /* Elimina los puntos de lista */
    padding: 0; /* Elimina el padding por defecto */
    margin: 0; /* Elimina el margin por defecto */
    display: flex; /* Flexbox para alinear los enlaces */
    justify-content: center; /* Centra los enlaces horizontalmente */
    gap: 20px; /* Espacio entre los enlaces */
}

nav li {
    display: inline; /* Asegura que los elementos de lista se alineen horizontalmente */
}

nav a {
    text-decoration: none; /* Elimina el subrayado de los enlaces */
    font-size: 18px;
    color: #007bff; /* Color azul para los enlaces */
    padding: 10px 20px; /* Relleno alrededor de los enlaces */
    
    background-color: #ffffff; /* Fondo blanco para los enlaces */
    border-radius: 5px; /* Bordes redondeados en los enlaces */
    transition: all 0.3s ease; /* Transición suave para los efectos */
}

nav a:hover {
    background-color: #007bff; /* Fondo azul cuando se pasa el cursor */
    color: #ffffff; /* Texto blanco cuando se pasa el cursor */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Sombra más fuerte al pasar el cursor */
}

main{
    background-image: url('../media/navblog.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    
    text-align: center;
    margin: 20px auto;
}
main h1{
    color: #ffffff;
}
main p{
    background-color: black;
    color: #a1edf7;
}
main ol{
    background-color: white;
    text-align: center;
    list-style-position: inside;
}

footer{
    background-color: #ffffff;
    text-align: center;
}
